* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f5f4f0;
}

a {
  text-decoration: none;
  color: #806d4b;
}

header {
  padding: 0.725rem;
  background-color: #a98b59;
  color: rgb(98, 61, 38);
  box-shadow: 0px 1px #ddd;
  position: sticky;
  top: 0;
}

.header__contant {
  display: flex;
  justify-content: space-between;
}

.header h2 {
  font-size: 1.35rem;
}

.search {
  padding-right: 0.5rem;
}

.search_after {
  position: absolute;
  opacity: 0;
}

.search_after:hover {
  opacity: 1;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.container_bottom {
  box-shadow: 0px 1px #ddd;
}

nav {
  width: 100%;
  height: 3.3rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.nav__meun ul {
  display: flex;
  justify-content: start;
  padding-left: 1rem;
}

.nav__about {
  padding-right: 0;
}

nav ul li {
  margin-right: 5rem;
  list-style: none;
  font-weight: bold;
}

.nav__meun-home {
  padding-bottom: 0.8rem;
  box-shadow: 0px 3px #8b4f1d;
}

nav ul li :hover {
  padding-bottom: 0.8rem;
  box-shadow: 0px 3px #8b4f1d;
}

.main {
  display: flex;
}

section {
  width: 90%;
  box-shadow: 1px 0px #ddd;
  height: 1000px;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.section__header {
  padding: 3em 0 1em 3em;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(98, 61, 38);
}

.section__article {
  display: flex;
  flex-wrap: wrap;
}

.article__container {
  max-width: 21rem;
  margin: 1rem;
}

.article__container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content {
  display: flex;
  flex-direction: column;
}

.article__container_contnet img {
  padding: 0.75rem 0.5rem 0 0.5rem;
  width: 100%;
}

.article__categoty {
  padding-left: 0.25rem;
  font-size: 12px;
  font-weight: bold;
  color: #555;
}

.article__container_contnet h3 {
  padding-left: 0.725rem;
  color: #444;
}

.article__container_contnet p {
  padding: 0.5em;
  color: #777;
}

aside {
  min-width: 6rem;
  height: 40rem;
  margin: 4rem 3rem;
  color: #444;
  position: sticky;
  top: 4rem;
  z-index: 2;
  overflow: hidden;
}

aside ul {
  list-style: none;
}

.aside__title {
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(98, 61, 38);
}

aside li {
  margin-top: 1rem;
}

.aside_div {
  width: 6em;
  margin-top: 2.5rem;
  padding: 0.5rem 0;
  box-shadow: 0px 1px inset #ddd;
}

.aside__go-top {
  padding: 4rem 0.75rem;
}

.aside__go-top_after {
  position: absolute;
  opacity: 0;
}

.aside__go-top_after:hover {
  opacity: 1;
}

.container_top {
  box-shadow: 0px 1px inset #ddd;
}

footer {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}
