body {
  background-color: #e0d8cc;
  overflow: hidden;
  font-weight: bold;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: center;
}

ul li {
  list-style: none;
  padding: 0 2rem 2rem 0;
}

h2 {
  text-align: center;
  padding-left: 0.75rem;
}

.img {
  text-align: center;
  padding-left: 1rem;
}

img {
  width: 35%;
}
